{% extends "mysite/base_mysite.html" %}
{% load static %}

{% block title %}Welcome To ITCS Group - About{% endblock title %}

{% block content %}
  <!-- ======== @Region: #content ======== -->
  <div id="content" class="p-0 clearfix">
    <!-- Contents -->
    <div id="features" class="container py-4 py-lg-6">
      <hr class="hr-lg mt-0 mb-3 w-10 mx-auto hr-primary" />
      <h3 class="font-weight-light mt-2 mb-0 text-muted" align="justify">
        An IT Managed Services, Outsourcing and Talent-Sourcing Company. We specializing in working with Global Banking Corporations, Multinational Fortune 500 Companies and Growing Organizations.
      </h3>
    </div>

    <!--=============== List of Case Studies ===============-->
    <!-- Service 1 -->
    <div class="bg-primary">
      <div class="container-fluid">
          <div class="row">
              <div class="col-lg-6 divider-diagonal divider-diagonal-r divider-primary op-9" data-bg-img="assets/img/aboutus/small/Company Profile.jpg" data-css='{"background-position":"right bottom"}'>
              </div>
              <div class="col-lg-6 py-6">
                <hr class="hr-lg mt-0 mb-2 w-10 ml-0 hr-white" />
                <h2 class="display-4 text-slab text-grey text-uppercase my-0"> 
                    <span class="text-white font-weight-bold">Company</span> Profile
                </h2>
                <p class="text-white" align="justify">
                    <br>
                    ITCS Group is an IT Managed Services, Outsourcing and Talent-Sourcing company. We provide customised IT Consulting Solutions, Project Management, IT Resourcing and On/off-shore Application Development Services across the Asia Pacific region. With offices strategically located in Hong Kong, Tokyo, Singapore, Sydney, and Mumbai. ITCS Group is the preferred technology partner for many leading Global Organisations working across Asia Pacific.
                    <br><br>
                    ITCS Group clients include Global Investment Banks, Fortune 500 companies and innovative organisations seeking change, improved efficiencies, reduced risk and developing a competitive advantage.
                    <br><br>
                    <a href="companyprofile.html" class="mb-1 btn btn-sm btn-outline-dark btn-rounded" role="button" aria-pressed="true"> Learn more </a> 
              </p>
              </div>
          </div>
      </div>
    </div>
    <!-- Service 2 -->
    <div class="bg-light">
      <div class="container-fluid">
        <div class="row">
          <div class="col-lg-6 py-6 flex-valign">
            <hr class="hr-lg mt-0 mb-2 w-10 ml-0 hr-primary" />
            <h2 class="display-4 text-slab text-grey-dark text-uppercase my-0">
                <span class="text-dark font-weight-bold">Management</span> Team
            </h2>
            <p class="text-dark" align="justify">
                <br>
                ITCS Group is an IT Managed Services, Outsourcing and Talent-Sourcing company. We provide customised IT Consulting Solutions, Project Management, IT Resourcing and On/off-shore Application Development Services across the Asia Pacific region. With offices strategically located in Hong Kong, Tokyo, Singapore, Sydney, and Mumbai. ITCS Group is the preferred technology partner for many leading Global Organisations working across Asia Pacific.
                <br><br>
                ITCS Group clients include Global Investment Banks, Fortune 500 companies and innovative organisations seeking change, improved efficiencies, reduced risk and developing a competitive advantage.
                <br><br>
                <a href="managementteam.html" class="mb-1 btn btn-sm btn-outline-dark btn-rounded" role="button" aria-pressed="true"> Learn more </a> 
          </p>
          </div>
          <div class="col-lg-6 divider-diagonal divider-diagonal-l divider-light op-9" data-bg-img="assets/img/aboutus/small/Management Team.jpg" data-css='{"background-position":"right bottom"}'>
          </div>
        </div>
      </div>
    </div>
    <!-- Service 3 -->
    <div class="bg-primary">
      <div class="container-fluid">
          <div class="row">
              <div class="col-lg-6 divider-diagonal divider-diagonal-r divider-primary op-9" data-bg-img="assets/img/aboutus/small/Investor Relations.jpg" data-css='{"background-position":"right bottom"}'>
              </div>
              <div class="col-lg-6 py-6">
                <hr class="hr-lg mt-0 mb-2 w-10 ml-0 hr-white" />
                <h2 class="display-4 text-slab text-grey text-uppercase my-0"> 
                    <span class="text-white font-weight-bold">Investor</span> Relations
                </h2>
                <p class="text-white" align="justify">
                    <br>
                    ITCS Group, headquartered in Hong Kong and with offices in Tokyo, Singapore, Sydney, and Mumbai is a profitable, debt-free and cash-flow-positive business. The company is privately owned and is not traded on any public index.
                    <br><br>
                    By developing loyal client relationships that support both project and long-term managed services, and continually increasing services and clients, ITCS is poised to become a leading Management Consulting, Technology Services and IT Outsourcing Company in the Asia Pacific region.
                    <br><br>
                    <a href="investorrelations.html" class="mb-1 btn btn-sm btn-outline-dark btn-rounded" role="button" aria-pressed="true"> Learn more </a> 
              </p>
              </div>
          </div>
      </div>
    </div>
    <!-- Service 4 -->
    <div class="bg-light">
      <div class="container-fluid">
        <div class="row">
          <div class="col-lg-6 py-6 flex-valign">
            <hr class="hr-lg mt-0 mb-2 w-10 ml-0 hr-primary" />
            <h2 class="display-4 text-slab text-grey-dark text-uppercase my-0">
                <span class="text-dark font-weight-bold">Corporate </span> Social Responsibility
            </h2>
            <p class="text-dark" align="justify">
                <br>
                ITCS Group believe that international business is about more than just growth and profitability. We appreciate that the way in which we engage with people and our community as a whole is integral to the success of our overall business strategy.
                <br><br>
                Our CSR initiatives aim to support and contribute to our core business values of Integrity, Creativity, Respect, Excellence, Responsibility and Passion. Our CSR program operates across all of our Asia Pacific operating entities, where we endeavor to act as global corporate citizens, adhere to ethical codes of conduct, give a fair, safe and unprejudiced workplace for our staff, and to work in a way that is as environmentally and sustainably responsible as possible.
                <br><br>
                <a href="csr.html" class="mb-1 btn btn-sm btn-outline-dark btn-rounded" role="button" aria-pressed="true"> Learn more </a> 
          </p>
          </div>
          <div class="col-lg-6 divider-diagonal divider-diagonal-l divider-light op-9" data-bg-img="assets/img/aboutus/small/Corporate Social Responsibility.jpg" data-css='{"background-position":"right bottom"}'>
          </div>
        </div>
      </div>
    </div> <br><br>
    <!--=============== End List of Case Studies ===============-->

    <!-- Our Locations -->
    <div id="team" class="pb-4 bg-white">
      <div class="bg-dark text-white p-3 p-lg-4 text-center divider-arrow divider-arrow-b divider-dark">
        <div class="container">
          <hr class="hr-lg mt-0 mb-2 w-10 mx-auto hr-primary" />
          <h2 class="text-center text-uppercase font-weight-bold my-0">
            Our Locations
          </h2>
          <h5 class="text-center font-weight-light mt-2 mb-0 text-white op-5">
            ITCS Group delivers services across the Asia Pacific Region from our core offices in Asia’s key financial hubs.
          </h5>
        </div>
      </div>
      <!-- Location list-->
      <div class="container py-4 py-lg-6">
        <div class="row text-left">
          <div class="col-lg-4 d-lg-flex mb-3 mb-lg-0">
            <div class="shadow-lg p-3 mb-5 bg-white rounded px-3 pb-3 pt-7 overlay overlay-gradient overlay-op-8 rounded flex-ew flex-valign-b" data-animate="slideInLeft" data-animate-delay="0.5" data-bg-img="assets/img/locations/small/HongKong.jpg" data-hover="rubberBand">
              <p class="text-white text-uppercase mb-0"> Hong Kong </p>
              <hr class="hr-lg my-2 w-20 ml-0 hr-primary" />
            </div>
          </div>
          <div class="col-lg-4 d-lg-flex mb-3 mb-lg-0">
            <div class="shadow-lg p-3 mb-5 bg-white rounded px-3 pb-3 pt-7 overlay overlay-gradient overlay-op-8 rounded flex-ew flex-valign-b" data-animate="zoomIn" data-animate-delay="0.5" data-bg-img="assets/img/locations/small/Singapore.jpg" data-hover="rubberBand">
              <p class="text-white text-uppercase mb-0"> Singapore </p>
              <hr class="hr-lg my-2 w-20 ml-0 hr-primary" />
            </div>
          </div>
          <div class="col-lg-4 d-lg-flex">
            <div class="shadow-lg p-3 mb-5 bg-white rounded px-3 pb-3 pt-7 overlay overlay-gradient overlay-op-8 rounded flex-ew flex-valign-b" data-animate="slideInRight" data-animate-delay="0.5" data-bg-img="assets/img/locations/small/Tokyo.jpg" data-hover="rubberBand">
              <p class="text-white text-uppercase mb-0"> Japan </p>
              <hr class="hr-lg my-2 w-20 ml-0 hr-primary" />
            </div>
          </div>
          <div class="col-lg-4 d-lg-flex mb-3 mb-lg-0">
            <div class="shadow-lg p-3 mb-5 bg-white rounded px-3 pb-3 pt-7 overlay overlay-gradient overlay-op-8 rounded flex-ew flex-valign-b" data-animate="slideInLeft" data-animate-delay="0.5" data-bg-img="assets/img/locations/small/Australia.jpg" data-hover="rubberBand"> 
              <p class="text-white text-uppercase mb-0"> Australia </p>
              <hr class="hr-lg my-2 w-20 ml-0 hr-primary" />
            </div>
          </div>
          <div class="col-lg-4 d-lg-flex mb-3 mb-lg-0">
            <div class="shadow-lg p-3 mb-5 bg-white rounded px-3 pb-3 pt-7 overlay overlay-gradient overlay-op-8 rounded flex-ew flex-valign-b" data-animate="zoomIn" data-animate-delay="0.5" data-bg-img="assets/img/locations/small/India.jpg" data-hover="rubberBand">
              <p class="text-white text-uppercase mb-0"> India </p>
              <hr class="hr-lg my-2 w-20 ml-0 hr-primary" />
            </div>
          </div>
          <div class="col-lg-4 d-lg-flex">
            <div class="shadow-lg p-3 mb-5 bg-white rounded px-3 pb-3 pt-7 overlay overlay-gradient overlay-op-8 rounded flex-ew flex-valign-b" data-animate="slideInRight" data-animate-delay="0.5" data-bg-img="assets/img/locations/small/China.jpg" data-hover="rubberBand">
              <p class="text-white text-uppercase mb-0"> China </p>
              <hr class="hr-lg my-2 w-20 ml-0 hr-primary" />
            </div>
          </div>
        </div>
      </div>
      <!-- End Location list-->
    </div>
    <!-- End Our Locations -->

    <!-- Contact Us -->
    <div id="team" class="pb-4 bg-white">
      <div class="bg-dark text-white p-3 p-lg-4 text-center divider-arrow divider-arrow-b divider-dark">
        <div class="container">
          <hr class="hr-lg mt-0 mb-2 w-10 mx-auto hr-primary" />
          <h2 class="text-center text-uppercase font-weight-bold my-0">
            Contact Us
          </h2>
          <h5 class="text-center font-weight-light mt-2 mb-0 text-white op-5">
            Connect with Top Solutions Consultants in the IT Industry!
          </h5>
        </div>
      </div>
      <!-- Contact form -->
      <div id="contact">
        <div class="container p-4 py-lg-5">
          <div class="row" data-animate="fadeIn" data-animate-delay="0.1">
            <div class="col-md-12 mb-5" id="sendmessage">
              <div class="google-map">
                <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d7383.985736081398!2d114.172165!3d22.27826!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0xb9d583129679203a!2sIT%20Consulting%20Solutions%20Ltd.!5e0!3m2!1sen!2sus!4v1568220365329!5m2!1sen!2sus" width="600" height="450" frameborder="0" style="border:0"></iframe>
              </div>
              </div>
              <div class="col-md-6">
                <form id="contact-form" action="#" role="form">
                  <div class="form-group" data-animate="fadeInDown" data-animate-delay="0.2">
                    <label class="sr-only" for="contact-name">Name</label>
                    <input type="text" class="form-control form-control-rounded" id="contact-name" placeholder="Name">
                  </div>
                  <div class="form-group" data-animate="fadeInDown" data-animate-delay="0.3">
                    <label class="sr-only" for="contact-email">Email</label>
                    <input type="email" class="form-control form-control-rounded" id="contact-email" placeholder="Email">
                  </div>
                  <div class="form-group" data-animate="fadeInDown" data-animate-delay="0.4">
                    <label class="sr-only" for="contact-message">Message</label>
                    <textarea rows="5" class="form-control form-control-rounded" id="contact-message" placeholder="Message"></textarea>
                  </div>
                  <center> <input type="button" class="btn btn-outline-primary btn-lg btn-rounded" value="Send Message"> </center>
                </form>
              </div>
              <div class="col-md-5 offset-md-1 mt-4 mt-md-0" data-animate="fadeIn" data-animate-delay="0.4">
                <h4 class="mb-1 font-weight-bold">
                  IT Consulting Solutions Ltd.
                </h4>
                <p class="mb-1">
                  <abbr title="Address"><i class="fa fa-home pr-2"></i></abbr> Beverly House 93-107, Lockhart Road, Wan Chai, HK
                </p>
                <p class="mb-1">
                  <abbr title="Email"><i class="fa fa-envelope pr-2"></i></abbr> info@itcs-group.com
                </p>
                <p class="mb-0">
                  <abbr title="Phone"><i class="fa fa-phone pr-2"></i></abbr> (+852)3906-5999 
                </p>
                <br>
                  <img src="assets/img/recaptcha.png" class="img-responsive" width="330" height="80">
              </div>
            </div>
          </div>
        </div>
    </div>
    <!-- End Contact Us -->

      <!-- Project Calculation - this appears the the bottom of the page once you scroll down -->
      <div class="w-100 py-3 pos-fixed pos-zindex-20 pos-b scroll-state-hidden bg-white bg-shadow" data-scroll="scroll-state" data-scroll-amount="120" data-scroll-setting='{"effectIn":"slideInUp", "effectOut":"slideOutDown", "effectDuration":"0.3", "breakpoint":"992"}'>
        <div class="container d-flex flex-column flex-lg-row text-center justify-content-center align-items-center">
          <p class="d-lg-inline-block mr-lg-3 text-dark my-0"><strong>Project calculation</strong> is just a click away</p>
          <p class="d-lg-inline-block text-sm text-dark op-8 my-0"><a href="https://issa.itcs-group.com/#it-projects" class="mt-2 mt-lg-0 btn btn-primary border-w-2 btn-rounded px-4 py-2 font-weight-bold text-uppercase" target="_blank">Calculate now</a></p>
        </div>
        <a href="#sendmessage" class="btn btn-icon btn-primary pos-fixed pos-b pos-r mr-6 mb-3 scroll-state-hidden" title="Send a message" data-scroll="scroll-state"><i class="fas fa-headphones"></i></a>
        <a href="#top" class="btn btn-icon btn-dark pos-fixed pos-b pos-r mr-3 mb-3" title="Back to top" data-scroll="scroll-state"><i class="fa fa-chevron-up"></i></a>
      </div>

  </div>
  <!-- #Content -->
{% endblock content %}