<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <p><a href="{% url 'mysite:index' %}">Mysite:Home</a></p>
    <p><a href="{% url 'mysite:index' %}">Mysite:Home</a></p>

    {% block content %}
    <p>This is content from base, to be override by the child.</p>
    {% endblock content %}
</body>
</html>