{% extends "mysite/base.html" %}
{% load static %}

{% comment "base structure of template block " %} 

### Base structure of template block: 
{% extends "mysite/base.html" %}
{% load static %}

    1. {% block title %}Welcome To ITCS Group - mysite{% endblock title %}
    2. {% block header %}{% endblock header %}
    3. {% block highlighted %}{% endblock highlighted %}
    4. {% block content %}{% endblock content %}
    5. {% block footer %}{% endblock footer %}
    6. {% block job_search_modal %}{% endblock job_search_modal %}
{% endcomment %}

{% comment "Usage of template block " %} 
Usage:

- Remove comment of a block to activate a template block in this 'base_mysite.html'.
    Since a template block should provide contents when inheriting from 'base.html'.
    Zero-content template block here makes **no contents** showing in the resulting render page.
    (e.g. When I provide an empty "footer" block here and there was no "footer" block provided in 'index.html',
    the resulting 'index.html' page shows zero-contents footer.)

{% endcomment %}

{% block title %}Welcome To ITCS Group - mysite{% endblock title %}

{% block header %}{% endblock header %}

{% block highlighted %}{% endblock highlighted %}

{% block content %}{% endblock content %}

{% block footer %}{% endblock footer %}

{% block job_search_modal %}{% endblock job_search_modal %}