<!-- Job Search Modal -->
<div class="modal fade" id="JobSearchModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true"  data-backdrop="false">
  <div class="modal-dialog modal-lg modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title">Job Search</h4>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        
        <div class="row">
            <div class="col-md-6">
                  <div class="input-group input-group-rounded mb-3">
                    <input type="text" class="form-control" placeholder="Search by Job Title...">
                    <div class="input-group-append">
                      <button class="btn btn-info" type="button">Go!</button>
                    </div>
                  </div>
            </div>
            <div class="col-md-6">
                  <div class="input-group input-group-rounded mb-3">
                    <select class="form-control mb-3 mr-sm-2 mb-sm-0" id="inlineFormCustomSelect">
                      <option selected disbaled>Search by Job Category...</option>
                      <option value="1">Helpdesk / Desktop Support</option>
                      <option value="2">Network</option>
                      <option value="3">Database</option>
                      <option value="2">Server</option>
                      <option value="3">Security</option>
                      <option value="2">Big data</option>
                      <option value="3">Cloud and Virtualization</option>
                      <option value="3">Others</option>
                    </select>

                    <div class="input-group-append">
                      <button class="btn btn-info" type="button">Go!</button>
                    </div>
                  </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-12">
                  Seach by location: <br><br>
                  <center>
                  <a href="career.html" type="button" class="mb-2 btn btn-outline-cyan-dark">
                    <i class="flag-icon flag-icon-hk fa-2x"></i><br> Hong Kong
                  </a> &nbsp;&nbsp;&nbsp;&nbsp;
                  <button type="button" class="mb-2 btn btn-outline-cyan-dark">
                    <i class="flag-icon flag-icon-sg fa-2x"></i><br> Singapore 
                  </button> &nbsp;&nbsp;&nbsp;&nbsp;
                  <button type="button" class="mb-2 btn btn-outline-cyan-dark">
                    <i class="flag-icon flag-icon-jp fa-2x"></i><br> Japan 
                  </button> &nbsp;&nbsp;&nbsp;&nbsp;
                  <button type="button" class="mb-2 btn btn-outline-cyan-dark">
                    <i class="flag-icon flag-icon-au fa-2x"></i><br> Australia 
                  </button> &nbsp;&nbsp;&nbsp;&nbsp;
                  <button type="button" class="mb-2 btn btn-outline-cyan-dark">
                    <i class="flag-icon flag-icon-in fa-2x"></i><br> India 
                  </button> &nbsp;&nbsp;&nbsp;&nbsp;
                  <button type="button" class="mb-2 btn btn-outline-cyan-dark">
                    <i class="flag-icon flag-icon-cn fa-2x"></i><br> China 
                  </button>
                  </center>
            </div>
        </div>

        <br><center> Have a CV ready? <a href="sendcv.html">Submit your CV now!</a></center>

      </div>
      <div class="modal-footer">
        <br><br>
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->
<!-- end Job Search Modal -->