{% extends "mysite/base_mysite.html" %}
{% load static %}

{% block title %}Welcome To ITCS Group - News and Events{% endblock title %}

{% block content %}
  <!-- ======== @Region: #content ======== -->
  <div id="content" class="p-0 clearfix">
    <div class="container">
      <br>
      <h2 class="title-divider">
        <span>Annual Events: <span class="font-weight-normal text-muted">Hong Kong, Singapore and Japan</span></span>
        <small>
            <a href="newsandevents.html"><i class="fa fa-arrow-left"></i> Back to News and Events</a>
          </small>
      </h2>
      <div class="row">
        <!--Main Content-->
        <div class="col-md-12">
          <!-- Blog post -->
          <div class="row blog-post">
            <div class="col-md-1 date-md">
              <!-- Date desktop -->
              <div class="date-wrapper"> <span class="date-m bg-primary">Sep</span> <span class="date-d">13</span>
              </div>
            </div>
            <div class="col-md-11">
              <div class="media-body">

                <!-- Meta details mobile -->
                <ul class="list-inline meta text-muted">
                  <li class="list-inline-item"><i class="fa fa-calendar"></i> Fri 13th Sep 2019</li>
                </ul>

                <!--Main content of post-->
                <div class="blog-content">
                  <div class="blog-media">
                    <img src="assets/img/newsandevents/news1.jpg" alt="Annual Events: Hong Kong, Singapore and Japan" class="img-fluid" />
                    <br>
                    <div class="text-sm text-uppercase text-teal">Caption here. Caption here. Captione here. Caption here. Caption here. Captione here. Caption here. Caption here. Captione here. Caption here. Caption here. Captione here.</div>
                  </div>
                  <p class="lead" align="justify">Aptent esca exerci laoreet roto uxor virtus. Abdo antehabeo damnum euismod tation. Abigo aptent cogo damnum diam plaga proprius quis similis sino.</p>
                  <p align="justify">Iaceo lucidus nostrud paulatim quidem suscipere tego. Camur ex fere interdico iriure plaga vero. Acsi appellatio blandit gilvus humo nostrud qui veniam. Acsi molior natu probo quadrum quae refero wisi. Distineo premo typicus. Commoveo
                    eum obruo. Antehabeo duis molior pagus suscipit ymo.</p>
                  <p align="justify">Blandit odio quibus. Defui iriure iusto laoreet veniam. Enim eum sed velit venio. Damnum laoreet olim. Facilisi fere iustum praemitto premo suscipit tamen te typicus ut. Capto conventio diam feugiat importunus interdico luctus tincidunt.</p>
                  <p align="justify">Iaceo lucidus nostrud paulatim quidem suscipere tego. Camur ex fere interdico iriure plaga vero. Acsi appellatio blandit gilvus humo nostrud qui veniam. Acsi molior natu probo quadrum quae refero wisi. Distineo premo typicus. Commoveo
                    eum obruo. Antehabeo duis molior pagus suscipit ymo.</p>
                  <p align="justify">Blandit odio quibus. Defui iriure iusto laoreet veniam. Enim eum sed velit venio. Damnum laoreet olim. Facilisi fere iustum praemitto premo suscipit tamen te typicus ut. Capto conventio diam feugiat importunus interdico luctus tincidunt.</p>
                  <p align="justify">Iaceo lucidus nostrud paulatim quidem suscipere tego. Camur ex fere interdico iriure plaga vero. Acsi appellatio blandit gilvus humo nostrud qui veniam. Acsi molior natu probo quadrum quae refero wisi. Distineo premo typicus. Commoveo
                    eum obruo. Antehabeo duis molior pagus suscipit ymo.</p>
                  <p align="justify">Blandit odio quibus. Defui iriure iusto laoreet veniam. Enim eum sed velit venio. Damnum laoreet olim. Facilisi fere iustum praemitto premo suscipit tamen te typicus ut. Capto conventio diam feugiat importunus interdico luctus tincidunt.</p>
              </div> <!--end of paragraph -->
            </div> <!-- end fo body -->

          <!-- Share Widget -->
          <div class="post-share social-media-branding">
              <h5>
                Share it:
              </h5>
                <!--@todo: replace with real social share links -->
                <a href="#" class="text-brand-twitter"><i class="fab fa-twitter-square icon-2x"></i></a>
                <a href="#" class="text-brand-facebook"><i class="fab fa-facebook-square icon-2x"></i></a>
                <a href="#" class="text-brand-linkedin"><i class="fab fa-linkedin icon-2x"></i></a>
                <a href="#" class="text-brand-google-plus"><i class="fab fa-google-plus-square icon-2x"></i></a>
          </div>

          </div> <!-- end of col-12 -->
        </div>
      </div>
    </div>
  </div>

    <!-- Our Locations -->
    <div id="team" class="pb-4 bg-white">
      <div class="bg-dark text-white p-3 p-lg-4 text-center divider-arrow divider-arrow-b divider-dark">
        <div class="container">
          <hr class="hr-lg mt-0 mb-2 w-10 mx-auto hr-primary" />
          <h2 class="text-center text-uppercase font-weight-bold my-0">
            Our Locations
          </h2>
          <h5 class="text-center font-weight-light mt-2 mb-0 text-white op-5">
            ITCS Group delivers services across the Asia Pacific Region from our core offices in Asia’s key financial hubs.
          </h5>
        </div>
      </div>
      <!-- Location list-->
      <div class="container py-4 py-lg-6">
        <div class="row text-left">
          <div class="col-lg-4 d-lg-flex mb-3 mb-lg-0">
            <div class="shadow-lg p-3 mb-5 bg-white rounded px-3 pb-3 pt-7 overlay overlay-gradient overlay-op-8 rounded flex-ew flex-valign-b" data-animate="slideInLeft" data-animate-delay="0.5" data-bg-img="assets/img/locations/small/HongKong.jpg" data-hover="rubberBand">
              <p class="text-white text-uppercase mb-0"> Hong Kong </p>
              <hr class="hr-lg my-2 w-20 ml-0 hr-primary" />
            </div>
          </div>
          <div class="col-lg-4 d-lg-flex mb-3 mb-lg-0">
            <div class="shadow-lg p-3 mb-5 bg-white rounded px-3 pb-3 pt-7 overlay overlay-gradient overlay-op-8 rounded flex-ew flex-valign-b" data-animate="zoomIn" data-animate-delay="0.5" data-bg-img="assets/img/locations/small/Singapore.jpg" data-hover="rubberBand">
              <p class="text-white text-uppercase mb-0"> Singapore </p>
              <hr class="hr-lg my-2 w-20 ml-0 hr-primary" />
            </div>
          </div>
          <div class="col-lg-4 d-lg-flex">
            <div class="shadow-lg p-3 mb-5 bg-white rounded px-3 pb-3 pt-7 overlay overlay-gradient overlay-op-8 rounded flex-ew flex-valign-b" data-animate="slideInRight" data-animate-delay="0.5" data-bg-img="assets/img/locations/small/Tokyo.jpg" data-hover="rubberBand">
              <p class="text-white text-uppercase mb-0"> Japan </p>
              <hr class="hr-lg my-2 w-20 ml-0 hr-primary" />
            </div>
          </div>
          <div class="col-lg-4 d-lg-flex mb-3 mb-lg-0">
            <div class="shadow-lg p-3 mb-5 bg-white rounded px-3 pb-3 pt-7 overlay overlay-gradient overlay-op-8 rounded flex-ew flex-valign-b" data-animate="slideInLeft" data-animate-delay="0.5" data-bg-img="assets/img/locations/small/Australia.jpg" data-hover="rubberBand"> 
              <p class="text-white text-uppercase mb-0"> Australia </p>
              <hr class="hr-lg my-2 w-20 ml-0 hr-primary" />
            </div>
          </div>
          <div class="col-lg-4 d-lg-flex mb-3 mb-lg-0">
            <div class="shadow-lg p-3 mb-5 bg-white rounded px-3 pb-3 pt-7 overlay overlay-gradient overlay-op-8 rounded flex-ew flex-valign-b" data-animate="zoomIn" data-animate-delay="0.5" data-bg-img="assets/img/locations/small/India.jpg" data-hover="rubberBand">
              <p class="text-white text-uppercase mb-0"> India </p>
              <hr class="hr-lg my-2 w-20 ml-0 hr-primary" />
            </div>
          </div>
          <div class="col-lg-4 d-lg-flex">
            <div class="shadow-lg p-3 mb-5 bg-white rounded px-3 pb-3 pt-7 overlay overlay-gradient overlay-op-8 rounded flex-ew flex-valign-b" data-animate="slideInRight" data-animate-delay="0.5" data-bg-img="assets/img/locations/small/China.jpg" data-hover="rubberBand">
              <p class="text-white text-uppercase mb-0"> China </p>
              <hr class="hr-lg my-2 w-20 ml-0 hr-primary" />
            </div>
          </div>
        </div>
      </div>
      <!-- End Location list-->
    </div>
    <!-- End Our Locations -->

    <!-- Contact Us -->
    <div id="team" class="pb-4 bg-white">
      <div class="bg-dark text-white p-3 p-lg-4 text-center divider-arrow divider-arrow-b divider-dark">
        <div class="container">
          <hr class="hr-lg mt-0 mb-2 w-10 mx-auto hr-primary" />
          <h2 class="text-center text-uppercase font-weight-bold my-0">
            Contact Us
          </h2>
          <h5 class="text-center font-weight-light mt-2 mb-0 text-white op-5">
            Connect with Top Solutions Consultants in the IT Industry!
          </h5>
        </div>
      </div>
      <!-- Contact form -->
      <div id="contact">
        <div class="container p-4 py-lg-5">
          <div class="row" data-animate="fadeIn" data-animate-delay="0.1">
            <div class="col-md-12 mb-5" id="sendmessage">
              <div class="google-map">
                <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d7383.985736081398!2d114.172165!3d22.27826!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0xb9d583129679203a!2sIT%20Consulting%20Solutions%20Ltd.!5e0!3m2!1sen!2sus!4v1568220365329!5m2!1sen!2sus" width="600" height="450" frameborder="0" style="border:0"></iframe>
              </div>
              </div>
              <div class="col-md-6">
                <form id="contact-form" action="#" role="form">
                  <div class="form-group" data-animate="fadeInDown" data-animate-delay="0.2">
                    <label class="sr-only" for="contact-name">Name</label>
                    <input type="text" class="form-control form-control-rounded" id="contact-name" placeholder="Name">
                  </div>
                  <div class="form-group" data-animate="fadeInDown" data-animate-delay="0.3">
                    <label class="sr-only" for="contact-email">Email</label>
                    <input type="email" class="form-control form-control-rounded" id="contact-email" placeholder="Email">
                  </div>
                  <div class="form-group" data-animate="fadeInDown" data-animate-delay="0.4">
                    <label class="sr-only" for="contact-message">Message</label>
                    <textarea rows="5" class="form-control form-control-rounded" id="contact-message" placeholder="Message"></textarea>
                  </div>
                  <center> <input type="button" class="btn btn-outline-primary btn-lg btn-rounded" value="Send Message"> </center>
                </form>
              </div>
              <div class="col-md-5 offset-md-1 mt-4 mt-md-0" data-animate="fadeIn" data-animate-delay="0.4">
                <h4 class="mb-1 font-weight-bold">
                  IT Consulting Solutions Ltd.
                </h4>
                <p class="mb-1">
                  <abbr title="Address"><i class="fa fa-home pr-2"></i></abbr> Beverly House 93-107, Lockhart Road, Wan Chai, HK
                </p>
                <p class="mb-1">
                  <abbr title="Email"><i class="fa fa-envelope pr-2"></i></abbr> info@itcs-group.com
                </p>
                <p class="mb-0">
                  <abbr title="Phone"><i class="fa fa-phone pr-2"></i></abbr> (+852)3906-5999 
                </p>
                <br>
                  <img src="assets/img/recaptcha.png" class="img-responsive" width="330" height="80">
              </div>
            </div>
          </div>
        </div>
    </div>
    <!-- End Contact Us -->

      <!-- Project Calculation - this appears the the bottom of the page once you scroll down -->
      <div class="w-100 py-3 pos-fixed pos-zindex-20 pos-b scroll-state-hidden bg-white bg-shadow" data-scroll="scroll-state" data-scroll-amount="120" data-scroll-setting='{"effectIn":"slideInUp", "effectOut":"slideOutDown", "effectDuration":"0.3", "breakpoint":"992"}'>
        <div class="container d-flex flex-column flex-lg-row text-center justify-content-center align-items-center">
          <p class="d-lg-inline-block mr-lg-3 text-dark my-0"><strong>Project calculation</strong> is just a click away</p>
          <p class="d-lg-inline-block text-sm text-dark op-8 my-0"><a href="https://issa.itcs-group.com/#it-projects" class="mt-2 mt-lg-0 btn btn-primary border-w-2 btn-rounded px-4 py-2 font-weight-bold text-uppercase" target="_blank">Calculate now</a></p>
        </div>
        <a href="#sendmessage" class="btn btn-icon btn-primary pos-fixed pos-b pos-r mr-6 mb-3 scroll-state-hidden" title="Send a message" data-scroll="scroll-state"><i class="fas fa-headphones"></i></a>
        <a href="#top" class="btn btn-icon btn-dark pos-fixed pos-b pos-r mr-3 mb-3 scroll-state-hidden" title="Back to top" data-scroll="scroll-state"><i class="fa fa-chevron-up"></i></a>
      </div>

  </div>
  <!-- #Content -->
{% endblock content %}