{% extends "mysite/base_mysite.html" %}
{% load static %}

{% block title %}Welcome To ITCS Group - News and Events{% endblock title %}

{% block content %}
  <!-- ======== @Region: #content ======== -->
  <div id="content" class="p-0 clearfix">
    <!-- Contents -->
    <div id="features" class="container py-4 py-lg-6">
      <hr class="hr-lg mt-0 mb-3 w-10 mx-auto hr-primary" />
      <h3 class="font-weight-light mt-2 mb-0 text-muted" align="justify">
        If you would like to know more about working with ITCS to deliver exciting content, insightful opinions and expert advice please contact our media representative at info@itcs-group.com.
      </h3>
    </div>

    <!--=============== List of News and Events ===============-->
    <!-- News and Events 1 -->
    <div class="bg-primary">
      <div class="container-fluid">
          <div class="row">
              <div class="col-lg-6 divider-diagonal divider-diagonal-r divider-primary op-9" data-bg-img="assets/img/newsandevents/recruitaism.jpg" data-css='{"background-position":"right bottom"}'>
              </div>
              <div class="col-lg-6 py-6">
                <hr class="hr-lg mt-0 mb-2 w-10 ml-0 hr-white" />
                <h2 class="display-4 text-slab text-grey text-uppercase my-0">
                      Recruit <span class="text-white font-weight-bold">AI</span>
                </h2>
                <p class="text-white" align="justify">
                    <br>
                    ITCS group have just launch Recruit AI on June 2018. Recruit AI is a world class matching engine for recruitment agencies and HR organisations.
                    <br><br>
                    Recruit AI is software that uses your existing resume database to learn, it can integrate directly with your ATS (Applicant Tracking System). The software automates the shortlisting of candidates accurately and quickly. Deploy a consistent matching methodology throughout the organization, from the most experienced recruiters to the most junior.
                  <br><br>
                <a href="newsandeventsdetails.html" class="mb-1 btn btn-sm btn-outline-dark btn-rounded" role="button" aria-pressed="true"> Learn more </a> 
              </p>
              </div>
          </div>
      </div>
    </div>
    <!-- News and Events 2 -->
    <div class="bg-light">
      <div class="container-fluid">
        <div class="row">
          <div class="col-lg-6 py-6 flex-valign">
            <hr class="hr-lg mt-0 mb-2 w-10 ml-0 hr-primary" />
            <h2 class="display-4 text-slab text-grey-dark text-uppercase my-0">
                Annual <span class="text-primary font-weight-bold">Events</span>
            </h2>
            <p class="text-dark" align="justify">
              <br>
                In November 2018, we successfully hosted client cocktail parties in Hong Kong, Singapore and Tokyo, thanks to all our clients and colleagues for joining us and making the events wonderful!
              <br><br>
            <a href="newsandeventsdetails.html" class="mb-1 btn btn-sm btn-outline-dark btn-rounded" role="button" aria-pressed="true"> Learn more </a> 
          </p>
          </div>
          <div class="col-lg-6 divider-diagonal divider-diagonal-l divider-light op-9" data-bg-img="assets/img/newsandevents/news1sm.jpg" data-css='{"background-position":"right bottom"}'>
          </div>
        </div>
      </div>
    </div>
    <!-- News and Events 3 -->
    <div class="bg-primary">
      <div class="container-fluid">
          <div class="row">
              <div class="col-lg-6 divider-diagonal divider-diagonal-r divider-primary op-9" data-bg-img="assets/img/newsandevents/news2sm.jpg" data-css='{"background-position":"right bottom"}'>
              </div>
              <div class="col-lg-6 py-6">
                <hr class="hr-lg mt-0 mb-2 w-10 ml-0 hr-white" />
                <h2 class="display-4 text-slab text-grey text-uppercase my-0">
                      RegTech - Justify your spend <span class="text-white font-weight-bold">or your failure?</span>
                </h2>
                <p class="text-white" align="justify">
                  <br>
                    RegTech is here, financial regulators are going to set an expectation and be issuing financial penalties in the very near future if Licensed Corporations do not become more agile in compliance models and regulations. IT systems will have to be adapted to include use of Artificial Intelligence analysis of big data and machine learning in live environments to ensure real time compliance. Is your enterprise positioned to be ready for this?
                  <br><br>
                <a href="newsandeventsdetails.html" class="mb-1 btn btn-sm btn-outline-dark btn-rounded" role="button" aria-pressed="true"> Learn more </a> 
              </p>
              </div>
          </div>
      </div>
    </div>
    <!-- News and Events 4 -->
    <div class="bg-light">
      <div class="container-fluid">
        <div class="row">
          <div class="col-lg-6 py-6 flex-valign">
            <hr class="hr-lg mt-0 mb-2 w-10 ml-0 hr-primary" />
            <h2 class="display-4 text-slab text-grey-dark text-uppercase my-0">
                Annual AIMA APAC <span class="text-primary font-weight-bold">Forum 2017</span>
            </h2>
            <p class="text-dark" align="justify">
              <br>
                ITCS Group was honored to be the platinum sponsor of the Alternative Investment Management Association (AIMA) APAC Forum 2017 on 19th January, at the Hong Kong Convention and Exhibition Centre. This is AIMA's flagship Asian conference, which is one of the largest events in the Asia Pacific region. We were proud to have Mr. Daniel Kolbe, Founder & Managing Director of ITCS Group as one of the key speakers during the Cybersecurity session.
              <br><br>
            <a href="newsandeventsdetails.html" class="mb-1 btn btn-sm btn-outline-dark btn-rounded" role="button" aria-pressed="true"> Learn more </a> 
          </p>
          </div>
          <div class="col-lg-6 divider-diagonal divider-diagonal-l divider-light op-9" data-bg-img="assets/img/newsandevents/news3sm.jpg" data-css='{"background-position":"right bottom"}'>
          </div>
        </div>
      </div>
    </div>

    <!-- Our Locations -->
    <div id="team" class="pb-4 bg-white">
      <div class="bg-dark text-white p-3 p-lg-4 text-center divider-arrow divider-arrow-b divider-dark">
        <div class="container">
          <hr class="hr-lg mt-0 mb-2 w-10 mx-auto hr-primary" />
          <h2 class="text-center text-uppercase font-weight-bold my-0">
            Our Locations
          </h2>
          <h5 class="text-center font-weight-light mt-2 mb-0 text-white op-5">
            ITCS Group delivers services across the Asia Pacific Region from our core offices in Asia’s key financial hubs.
          </h5>
        </div>
      </div>
      <!-- Location list-->
      <div class="container py-4 py-lg-6">
        <div class="row text-left">
          <div class="col-lg-4 d-lg-flex mb-3 mb-lg-0">
            <div class="shadow-lg p-3 mb-5 bg-white rounded px-3 pb-3 pt-7 overlay overlay-gradient overlay-op-8 rounded flex-ew flex-valign-b" data-animate="slideInLeft" data-animate-delay="0.5" data-bg-img="assets/img/locations/small/HongKong.jpg" data-hover="rubberBand">
              <p class="text-white text-uppercase mb-0"> Hong Kong </p>
              <hr class="hr-lg my-2 w-20 ml-0 hr-primary" />
            </div>
          </div>
          <div class="col-lg-4 d-lg-flex mb-3 mb-lg-0">
            <div class="shadow-lg p-3 mb-5 bg-white rounded px-3 pb-3 pt-7 overlay overlay-gradient overlay-op-8 rounded flex-ew flex-valign-b" data-animate="zoomIn" data-animate-delay="0.5" data-bg-img="assets/img/locations/small/Singapore.jpg" data-hover="rubberBand">
              <p class="text-white text-uppercase mb-0"> Singapore </p>
              <hr class="hr-lg my-2 w-20 ml-0 hr-primary" />
            </div>
          </div>
          <div class="col-lg-4 d-lg-flex">
            <div class="shadow-lg p-3 mb-5 bg-white rounded px-3 pb-3 pt-7 overlay overlay-gradient overlay-op-8 rounded flex-ew flex-valign-b" data-animate="slideInRight" data-animate-delay="0.5" data-bg-img="assets/img/locations/small/Tokyo.jpg" data-hover="rubberBand">
              <p class="text-white text-uppercase mb-0"> Japan </p>
              <hr class="hr-lg my-2 w-20 ml-0 hr-primary" />
            </div>
          </div>
          <div class="col-lg-4 d-lg-flex mb-3 mb-lg-0">
            <div class="shadow-lg p-3 mb-5 bg-white rounded px-3 pb-3 pt-7 overlay overlay-gradient overlay-op-8 rounded flex-ew flex-valign-b" data-animate="slideInLeft" data-animate-delay="0.5" data-bg-img="assets/img/locations/small/Australia.jpg" data-hover="rubberBand"> 
              <p class="text-white text-uppercase mb-0"> Australia </p>
              <hr class="hr-lg my-2 w-20 ml-0 hr-primary" />
            </div>
          </div>
          <div class="col-lg-4 d-lg-flex mb-3 mb-lg-0">
            <div class="shadow-lg p-3 mb-5 bg-white rounded px-3 pb-3 pt-7 overlay overlay-gradient overlay-op-8 rounded flex-ew flex-valign-b" data-animate="zoomIn" data-animate-delay="0.5" data-bg-img="assets/img/locations/small/India.jpg" data-hover="rubberBand">
              <p class="text-white text-uppercase mb-0"> India </p>
              <hr class="hr-lg my-2 w-20 ml-0 hr-primary" />
            </div>
          </div>
          <div class="col-lg-4 d-lg-flex">
            <div class="shadow-lg p-3 mb-5 bg-white rounded px-3 pb-3 pt-7 overlay overlay-gradient overlay-op-8 rounded flex-ew flex-valign-b" data-animate="slideInRight" data-animate-delay="0.5" data-bg-img="assets/img/locations/small/China.jpg" data-hover="rubberBand">
              <p class="text-white text-uppercase mb-0"> China </p>
              <hr class="hr-lg my-2 w-20 ml-0 hr-primary" />
            </div>
          </div>
        </div>
      </div>
      <!-- End Location list-->
    </div>
    <!-- End Our Locations -->

    <!-- Contact Us -->
    <div id="team" class="pb-4 bg-white">
      <div class="bg-dark text-white p-3 p-lg-4 text-center divider-arrow divider-arrow-b divider-dark">
        <div class="container">
          <hr class="hr-lg mt-0 mb-2 w-10 mx-auto hr-primary" />
          <h2 class="text-center text-uppercase font-weight-bold my-0">
            Contact Us
          </h2>
          <h5 class="text-center font-weight-light mt-2 mb-0 text-white op-5">
            Connect with Top Solutions Consultants in the IT Industry!
          </h5>
        </div>
      </div>
      <!-- Contact form -->
      <div id="contact">
        <div class="container p-4 py-lg-5">
          <div class="row" data-animate="fadeIn" data-animate-delay="0.1">
            <div class="col-md-12 mb-5" id="sendmessage">
              <div class="google-map">
                <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d7383.985736081398!2d114.172165!3d22.27826!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0xb9d583129679203a!2sIT%20Consulting%20Solutions%20Ltd.!5e0!3m2!1sen!2sus!4v1568220365329!5m2!1sen!2sus" width="600" height="450" frameborder="0" style="border:0"></iframe>
              </div>
              </div>
              <div class="col-md-6">
                <form id="contact-form" action="#" role="form">
                  <div class="form-group" data-animate="fadeInDown" data-animate-delay="0.2">
                    <label class="sr-only" for="contact-name">Name</label>
                    <input type="text" class="form-control form-control-rounded" id="contact-name" placeholder="Name">
                  </div>
                  <div class="form-group" data-animate="fadeInDown" data-animate-delay="0.3">
                    <label class="sr-only" for="contact-email">Email</label>
                    <input type="email" class="form-control form-control-rounded" id="contact-email" placeholder="Email">
                  </div>
                  <div class="form-group" data-animate="fadeInDown" data-animate-delay="0.4">
                    <label class="sr-only" for="contact-message">Message</label>
                    <textarea rows="5" class="form-control form-control-rounded" id="contact-message" placeholder="Message"></textarea>
                  </div>
                  <center> <input type="button" class="btn btn-outline-primary btn-lg btn-rounded" value="Send Message"> </center>
                </form>
              </div>
              <div class="col-md-5 offset-md-1 mt-4 mt-md-0" data-animate="fadeIn" data-animate-delay="0.4">
                <h4 class="mb-1 font-weight-bold">
                  IT Consulting Solutions Ltd.
                </h4>
                <p class="mb-1">
                  <abbr title="Address"><i class="fa fa-home pr-2"></i></abbr> Beverly House 93-107, Lockhart Road, Wan Chai, HK
                </p>
                <p class="mb-1">
                  <abbr title="Email"><i class="fa fa-envelope pr-2"></i></abbr> info@itcs-group.com
                </p>
                <p class="mb-0">
                  <abbr title="Phone"><i class="fa fa-phone pr-2"></i></abbr> (+852)3906-5999 
                </p>
                <br>
                  <img src="assets/img/recaptcha.png" class="img-responsive" width="330" height="80">
              </div>
            </div>
          </div>
        </div>
    </div>
    <!-- End Contact Us -->

      <!-- Project Calculation - this appears the the bottom of the page once you scroll down -->
      <div class="w-100 py-3 pos-fixed pos-zindex-20 pos-b scroll-state-hidden bg-white bg-shadow" data-scroll="scroll-state" data-scroll-amount="120" data-scroll-setting='{"effectIn":"slideInUp", "effectOut":"slideOutDown", "effectDuration":"0.3", "breakpoint":"992"}'>
        <div class="container d-flex flex-column flex-lg-row text-center justify-content-center align-items-center">
          <p class="d-lg-inline-block mr-lg-3 text-dark my-0"><strong>Project calculation</strong> is just a click away</p>
          <p class="d-lg-inline-block text-sm text-dark op-8 my-0"><a href="https://issa.itcs-group.com/#it-projects" class="mt-2 mt-lg-0 btn btn-primary border-w-2 btn-rounded px-4 py-2 font-weight-bold text-uppercase" target="_blank">Calculate now</a></p>
        </div>
        <a href="#sendmessage" class="btn btn-icon btn-primary pos-fixed pos-b pos-r mr-6 mb-3 scroll-state-hidden" title="Send a message" data-scroll="scroll-state"><i class="fas fa-headphones"></i></a>
        <a href="#top" class="btn btn-icon btn-dark pos-fixed pos-b pos-r mr-3 mb-3 scroll-state-hidden" title="Back to top" data-scroll="scroll-state"><i class="fa fa-chevron-up"></i></a>
      </div>

  </div>
  <!-- #Content -->
{% endblock content %}