{% extends "mysite/base_mysite.html" %}
{% load static %}

{% block title %}Welcome To ITCS Group - Privacy Policy{% endblock title %}

{% block content %}
  <!-- ======== @Region: #content ======== -->
  <div id="content" class="p-0 clearfix">
    <!-- Contents -->
    <div id="features" class="container py-4 py-lg-6">
      <hr class="hr-lg mt-0 mb-3 w-10 mx-auto hr-primary" />
      <h4 class="font-weight-light mt-2 mb-0 text-muted" align="justify">
        ITCS Group takes your privacy seriously. This privacy statement discloses the type of personally identifiable information we may gather, how we may use it and how to correct or change it.
        <br><br>
        <strong>Information Collected</strong>
        <br>
        When you use the website, or communicate electronically with ITCS Group by other means, we may require you to provide personal information or you may elect to provide ITCS Group with personal information. The personally identifiable information you provide may include your name, company, job title, address and e-mail address and facts about yourself, your business or your profession. In addition, ITCS Group web servers may automatically collect website usage information when you visit the website. Website usage information informs ITCS Group about how visitors and subscribers use and navigate the website, including the number and frequency of users to each web page, their IP address, and the length of their stays.
        <br><br>
        <strong>How we collect information?</strong>
        <br>
        Your personal information is collected when you provide it to us, such as when you register in our websites, provide us with resumes or CVs, provide feedback, make enquiry or sign up for an email newsletter. We may also receive information about you from other sources and add it to the information you had provided to us. We collect and store your information so that we might improve our communication with you.
        <br><br>
        <strong>Use of Information Collected</strong>
        <br>
        The personal information collected on the website will be used to operate the website and to provide the services or carry out the transactions you have requested. In support of these uses, ITCS Group may combine the personal information you have provided to it on the website with other information about you that is available to it, including website usage information and information from other sources. ITCS Group may use this information to enable it to process, validate and verify requests for products and services and for the purposes for which you specifically provided the information; to improve your experience on the website; to improve and develop new features and services; to provide marketing with aggregate information about the user base and usage patterns; and for other purposes.
        <br><br>
        Personal information collected from you may be stored and processed in any country in which ITCS Group, or it’s indirect or direct subsiduaries, operates or maintains facilities and may be transferred to third party suppliers to ITCS Group, in order to help improve the content of the website, provide you with the products or services requested, to consider and respond to any application for employment made, and to help service providers to perform services on its behalf. By using the website, you consent to any such transfer of information outside of your country.
        <br><br>
        ITCS Group may disclose any information about you to law enforcement agencies, government officials or other authorities, as ITCS Group, in its sole discretion, believes necessary or appropriate.
        <br><br>
        If you use the website to make an application for employment with ITCS Group, you acknowledge that ITCS Group will not under any circumstances be liable to you should your application be unsuccessful or should your application not be received; ITCS Group is unable to guarantee that all such personally identifiable information is not capable of being illegally accessed and that accordingly you assume all risk associated therewith and agree that ITCS Group shall not under any circumstances be liable to you in respect thereof; you provide any information solely at your risk and any information provided will be kept and stored for any period of time the ITCS Group deem appropriate.
        <br><br>
        <strong>What do we do with collected information?</strong>
        <br>
        ITCS Group do not sell or disclose your personal data provided to us, to any advertisers or other third parties for marketing, promotional and other purposes.
        <br><br>
        <strong>Cookies</strong>
        <br>
        ITCS Group automatically collects information and data through the use of "cookies" which enables a website to recognise repeat users, facilitate user access to and use of the website and allows the website to track usage behaviour. A cookie will not provide ITCS Group with personal information. Therefore, if you have not supplied personal information, you can still browse the website anonymously. You have the ability to accept or decline cookies.
        <br><br>
        <strong>Security</strong>
        <br>
        The personal information we collect about you is stored in limited access servers. ITCS Group maintains safeguards to protect the security, integrity, and privacy of these servers and your personally identifiable information.
        <br><br>
        <strong>IP Address</strong>
        If you are connected to the internet you will have an IP Address. The address will be automatically collected and logged as part of the connection of your computer to the ITCS Group web server. If there is a security breach the relevant IP Address will be identified and the user may be contacted.
        <br><br>
        <strong>Terms and conditions</strong>
        <br>
        This Privacy Policy is subject in all respects to the terms and conditions of use of the ITCS Group website.
        <br><br>
        We will only make your personally identifiable information available to any 3rd party when we have your consent to share the information.
        <br><br>
        If you have any concerns, contact us at info@itcs-group.com.
      </h4>
    </div>

    <!-- Our Locations -->
    <div id="team" class="pb-4 bg-white">
      <div class="bg-dark text-white p-3 p-lg-4 text-center divider-arrow divider-arrow-b divider-dark">
        <div class="container">
          <hr class="hr-lg mt-0 mb-2 w-10 mx-auto hr-primary" />
          <h2 class="text-center text-uppercase font-weight-bold my-0">
            Our Locations
          </h2>
          <h5 class="text-center font-weight-light mt-2 mb-0 text-white op-5">
            ITCS Group delivers services across the Asia Pacific Region from our core offices in Asia’s key financial hubs.
          </h5>
        </div>
      </div>
      <!-- Location list-->
      <div class="container py-4 py-lg-6">
        <div class="row text-left">
          <div class="col-lg-4 d-lg-flex mb-3 mb-lg-0">
            <div class="shadow-lg p-3 mb-5 bg-white rounded px-3 pb-3 pt-7 overlay overlay-gradient overlay-op-8 rounded flex-ew flex-valign-b" data-animate="slideInLeft" data-animate-delay="0.5" data-bg-img="assets/img/locations/small/HongKong.jpg" data-hover="rubberBand">
              <p class="text-white text-uppercase mb-0"> Hong Kong </p>
              <hr class="hr-lg my-2 w-20 ml-0 hr-primary" />
            </div>
          </div>
          <div class="col-lg-4 d-lg-flex mb-3 mb-lg-0">
            <div class="shadow-lg p-3 mb-5 bg-white rounded px-3 pb-3 pt-7 overlay overlay-gradient overlay-op-8 rounded flex-ew flex-valign-b" data-animate="zoomIn" data-animate-delay="0.5" data-bg-img="assets/img/locations/small/Singapore.jpg" data-hover="rubberBand">
              <p class="text-white text-uppercase mb-0"> Singapore </p>
              <hr class="hr-lg my-2 w-20 ml-0 hr-primary" />
            </div>
          </div>
          <div class="col-lg-4 d-lg-flex">
            <div class="shadow-lg p-3 mb-5 bg-white rounded px-3 pb-3 pt-7 overlay overlay-gradient overlay-op-8 rounded flex-ew flex-valign-b" data-animate="slideInRight" data-animate-delay="0.5" data-bg-img="assets/img/locations/small/Tokyo.jpg" data-hover="rubberBand">
              <p class="text-white text-uppercase mb-0"> Japan </p>
              <hr class="hr-lg my-2 w-20 ml-0 hr-primary" />
            </div>
          </div>
          <div class="col-lg-4 d-lg-flex mb-3 mb-lg-0">
            <div class="shadow-lg p-3 mb-5 bg-white rounded px-3 pb-3 pt-7 overlay overlay-gradient overlay-op-8 rounded flex-ew flex-valign-b" data-animate="slideInLeft" data-animate-delay="0.5" data-bg-img="assets/img/locations/small/Australia.jpg" data-hover="rubberBand"> 
              <p class="text-white text-uppercase mb-0"> Australia </p>
              <hr class="hr-lg my-2 w-20 ml-0 hr-primary" />
            </div>
          </div>
          <div class="col-lg-4 d-lg-flex mb-3 mb-lg-0">
            <div class="shadow-lg p-3 mb-5 bg-white rounded px-3 pb-3 pt-7 overlay overlay-gradient overlay-op-8 rounded flex-ew flex-valign-b" data-animate="zoomIn" data-animate-delay="0.5" data-bg-img="assets/img/locations/small/India.jpg" data-hover="rubberBand">
              <p class="text-white text-uppercase mb-0"> India </p>
              <hr class="hr-lg my-2 w-20 ml-0 hr-primary" />
            </div>
          </div>
          <div class="col-lg-4 d-lg-flex">
            <div class="shadow-lg p-3 mb-5 bg-white rounded px-3 pb-3 pt-7 overlay overlay-gradient overlay-op-8 rounded flex-ew flex-valign-b" data-animate="slideInRight" data-animate-delay="0.5" data-bg-img="assets/img/locations/small/China.jpg" data-hover="rubberBand">
              <p class="text-white text-uppercase mb-0"> China </p>
              <hr class="hr-lg my-2 w-20 ml-0 hr-primary" />
            </div>
          </div>
        </div>
      </div>
      <!-- End Location list-->
    </div>
    <!-- End Our Locations -->

    <!-- Contact Us -->
    <div id="team" class="pb-4 bg-white">
      <div class="bg-dark text-white p-3 p-lg-4 text-center divider-arrow divider-arrow-b divider-dark">
        <div class="container">
          <hr class="hr-lg mt-0 mb-2 w-10 mx-auto hr-primary" />
          <h2 class="text-center text-uppercase font-weight-bold my-0">
            Contact Us
          </h2>
          <h5 class="text-center font-weight-light mt-2 mb-0 text-white op-5">
            Connect with Top Solutions Consultants in the IT Industry!
          </h5>
        </div>
      </div>
      <!-- Contact form -->
      <div id="contact">
        <div class="container p-4 py-lg-5">
          <div class="row" data-animate="fadeIn" data-animate-delay="0.1">
            <div class="col-md-12 mb-5" id="sendmessage">
              <div class="google-map">
                <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d7383.985736081398!2d114.172165!3d22.27826!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0xb9d583129679203a!2sIT%20Consulting%20Solutions%20Ltd.!5e0!3m2!1sen!2sus!4v1568220365329!5m2!1sen!2sus" width="600" height="450" frameborder="0" style="border:0"></iframe>
              </div>
              </div>
              <div class="col-md-6">
                <form id="contact-form" action="#" role="form">
                  <div class="form-group" data-animate="fadeInDown" data-animate-delay="0.2">
                    <label class="sr-only" for="contact-name">Name</label>
                    <input type="text" class="form-control form-control-rounded" id="contact-name" placeholder="Name">
                  </div>
                  <div class="form-group" data-animate="fadeInDown" data-animate-delay="0.3">
                    <label class="sr-only" for="contact-email">Email</label>
                    <input type="email" class="form-control form-control-rounded" id="contact-email" placeholder="Email">
                  </div>
                  <div class="form-group" data-animate="fadeInDown" data-animate-delay="0.4">
                    <label class="sr-only" for="contact-message">Message</label>
                    <textarea rows="5" class="form-control form-control-rounded" id="contact-message" placeholder="Message"></textarea>
                  </div>
                  <center> <input type="button" class="btn btn-outline-primary btn-lg btn-rounded" value="Send Message"> </center>
                </form>
              </div>
              <div class="col-md-5 offset-md-1 mt-4 mt-md-0" data-animate="fadeIn" data-animate-delay="0.4">
                <h4 class="mb-1 font-weight-bold">
                  IT Consulting Solutions Ltd.
                </h4>
                <p class="mb-1">
                  <abbr title="Address"><i class="fa fa-home pr-2"></i></abbr> Beverly House 93-107, Lockhart Road, Wan Chai, HK
                </p>
                <p class="mb-1">
                  <abbr title="Email"><i class="fa fa-envelope pr-2"></i></abbr> info@itcs-group.com
                </p>
                <p class="mb-0">
                  <abbr title="Phone"><i class="fa fa-phone pr-2"></i></abbr> (+852)3906-5999 
                </p>
                <br>
                  <img src="assets/img/recaptcha.png" class="img-responsive" width="330" height="80">
              </div>
            </div>
          </div>
        </div>
    </div>
    <!-- End Contact Us -->

      <!-- Project Calculation - this appears the the bottom of the page once you scroll down -->
      <div class="w-100 py-3 pos-fixed pos-zindex-20 pos-b scroll-state-hidden bg-white bg-shadow" data-scroll="scroll-state" data-scroll-amount="120" data-scroll-setting='{"effectIn":"slideInUp", "effectOut":"slideOutDown", "effectDuration":"0.3", "breakpoint":"992"}'>
        <div class="container d-flex flex-column flex-lg-row text-center justify-content-center align-items-center">
          <p class="d-lg-inline-block mr-lg-3 text-dark my-0"><strong>Project calculation</strong> is just a click away</p>
          <p class="d-lg-inline-block text-sm text-dark op-8 my-0"><a href="https://issa.itcs-group.com/#it-projects" class="mt-2 mt-lg-0 btn btn-primary border-w-2 btn-rounded px-4 py-2 font-weight-bold text-uppercase" target="_blank">Calculate now</a></p>
        </div>
        <a href="#sendmessage" class="btn btn-icon btn-primary pos-fixed pos-b pos-r mr-6 mb-3 scroll-state-hidden" title="Send a message" data-scroll="scroll-state"><i class="fas fa-headphones"></i></a>
        <a href="#top" class="btn btn-icon btn-dark pos-fixed pos-b pos-r mr-3 mb-3" title="Back to top" data-scroll="scroll-state"><i class="fa fa-chevron-up"></i></a>
      </div>

  </div>
  <!-- #Content -->
{% endblock content %}