{% extends "mysite/base_mysite.html" %}
{% load static %}

{% block title %}Welcome To ITCS Group - Services{% endblock title %}

{% block content %}
  <!-- ======== @Region: #content ======== -->
  <div id="content" class="p-0 clearfix">

    <!-- Contents -->
    <div id="features" class="container py-4 py-lg-6">
      <hr class="hr-lg mt-0 mb-3 w-10 mx-auto hr-primary" />
      <h2 class="text-center font-weight-bold my-0">
        IT Services with limitless possibilities!
      </h2>
    </div>

    <!--=============== List of services ===============-->
    <!-- Service 1 -->
    <div class="bg-primary">
      <div class="container-fluid">
          <div class="row">
              <div class="col-lg-6 divider-diagonal divider-diagonal-r divider-primary op-9" data-bg-img="assets/img/services/small/IT Consulting and Project Management.jpg" data-css='{"background-position":"right bottom"}'>
              </div>
              <div class="col-lg-6 py-6">
                <hr class="hr-lg mt-0 mb-2 w-10 ml-0 hr-white" />
                <h2 class="display-4 text-slab text-grey text-uppercase my-0">
                      IT Consulting and <span class="text-white font-weight-bold">Project Management</span>
                </h2>
                <p class="text-white" align="justify">
                  <br>
                    ITCS specialises in enabling organisations to deliver change within their IT environment. Our clients approach ITCS to deliver projects typically brought about by significant events such as Mergers and Acquisitions, Corporate Real Estate Investment, Data Centre Enhancement and Technology Investment. 
                  <br><br>
                <a href="itconsultingandprojectmanagement.html" class="mb-1 btn btn-sm btn-outline-dark btn-rounded" role="button" aria-pressed="true"> Learn more </a> 
              </p>
              </div>
          </div>
      </div>
    </div>
    <!-- Service 2 -->
    <div class="bg-light">
      <div class="container-fluid">
        <div class="row">
          <div class="col-lg-6 py-6 flex-valign">
            <hr class="hr-lg mt-0 mb-2 w-10 ml-0 hr-primary" />
            <h2 class="display-4 text-slab text-grey-dark text-uppercase my-0">
                Managed <span class="text-primary font-weight-bold">Services</span>
            </h2>
            <h4> Outsourcing </h4>
            <p class="text-dark" align="justify">
              <br>
                ITCS provides highly skilled and experienced resources for our clients’ projects and IT functions. Depending upon our client's procurement needs, ITCS provides Fixed Priced Outsourced Services, project-based team and individual temporary consultants. 
              <br><br>
            <a href="itconsultingandprojectmanagement.html" class="mb-1 btn btn-sm btn-outline-dark btn-rounded" role="button" aria-pressed="true"> Learn more </a> 
          </p>
          </div>
          <div class="col-lg-6 divider-diagonal divider-diagonal-l divider-light op-9" data-bg-img="assets/img/services/small/Manage Services and Dynamic Staffing.jpg" data-css='{"background-position":"right bottom"}'>
          </div>
        </div>
      </div>
    </div>
    <!-- Service 3 -->
    <div class="bg-primary">
      <div class="container-fluid">
          <div class="row">
              <div class="col-lg-6 divider-diagonal divider-diagonal-r divider-primary op-9" data-bg-img="assets/img/services/small/IT Recruitment.jpg" data-css='{"background-position":"right bottom"}'>
              </div>
              <div class="col-lg-6 py-6">
                <hr class="hr-lg mt-0 mb-2 w-10 ml-0 hr-white" />
                <h2 class="display-4 text-slab text-grey text-uppercase my-0">
                      IT <span class="text-white font-weight-bold">Recruitment</span>
                </h2>
                <h4> Permanent and Contingency Placement </h4>
                <p class="text-white" align="justify">
                  <br>
                    ITCS adopt a technology driven approach to search for the right candidate by using Recruit AI, a self-learning AI software which matches job description to candidates’ profiles within seconds. ITCS’ candidate pool has more 100,000+ candidates in Asia Pacific and will connect you to the right candidate. In order to cater for client’s recruitment needs, ITCS offer both Permanent and Contingency placement.
                  <br><br>
                <a href="itconsultingandprojectmanagement.html" class="mb-1 btn btn-sm btn-outline-dark btn-rounded" role="button" aria-pressed="true"> Learn more </a> 
              </p>
              </div>
          </div>
      </div>
    </div>
    <!-- Service 4 -->
    <div class="bg-light">
      <div class="container-fluid">
        <div class="row">
          <div class="col-lg-6 py-6 flex-valign">
            <hr class="hr-lg mt-0 mb-2 w-10 ml-0 hr-primary" />
            <h2 class="display-4 text-slab text-grey-dark text-uppercase my-0">
                IT <span class="text-primary font-weight-bold">Support</span>
            </h2>
            <p class="text-dark" align="justify">
              <br>
                ITCS is committed to providing high quality and SLA based managed services. Our services are designed to support you in short or long term initiatives to reduce costs and improve performance levels. Our IT professionals act as an extension to your technical teams by providing remote support, helpdesk support, office set up and IMAC services or as required to meet your changing needs. 
              <br><br>
            <a href="itconsultingandprojectmanagement.html" class="mb-1 btn btn-sm btn-outline-dark btn-rounded" role="button" aria-pressed="true"> Learn more </a> 
          </p>
          </div>
          <div class="col-lg-6 divider-diagonal divider-diagonal-l divider-light op-9" data-bg-img="assets/img/services/small/IT Support.jpg" data-css='{"background-position":"right bottom"}'>
          </div>
        </div>
      </div>
    </div>
    <!-- Service 5 -->
    <div class="bg-primary">
      <div class="container-fluid">
          <div class="row">
              <div class="col-lg-6 divider-diagonal divider-diagonal-r divider-primary op-9" data-bg-img="assets/img/services/small/Windows 7 Migration.jpg" data-css='{"background-position":"right bottom"}'>
              </div>
              <div class="col-lg-6 py-6">
                <hr class="hr-lg mt-0 mb-2 w-10 ml-0 hr-white" />
                <h2 class="display-4 text-slab text-grey text-uppercase my-0">
                      Windows 10 <span class="text-white font-weight-bold">Migration</span>
                </h2>
                <p class="text-white" align="justify">
                  <br>
                    ITCS Group has extensive experience with Windows 10 migration on a global scale for renowned financial institutions and SMEs in the regions. We can provide the expertise to help you execute this migration while lowering costs, improving efficiencies, reducing risk and bring about a competitive advantage.
                  <br><br>
                <a href="itconsultingandprojectmanagement.html" class="mb-1 btn btn-sm btn-outline-dark btn-rounded" role="button" aria-pressed="true"> Learn more </a> 
              </p>
              </div>
          </div>
      </div>
    </div>
    <!-- Service 6 -->
    <div class="bg-light">
      <div class="container-fluid">
        <div class="row">
          <div class="col-lg-6 py-6 flex-valign">
            <hr class="hr-lg mt-0 mb-2 w-10 ml-0 hr-primary" />
            <h2 class="display-4 text-slab text-grey-dark text-uppercase my-0">
                App Development and <span class="text-primary font-weight-bold">Off-shoring Advisory</span>  
            </h2>
            <p class="text-dark" align="justify">
              <br>
                ITCS provides Application Development Services, Programming Resources and Outsourcing to Global Companies across the Asia Pacific Region. 
                <br><br>
                From niche, one-off application development projects to ongoing development, integration and enhancement services we work across multiple sectors.

              <br><br>
            <a href="itconsultingandprojectmanagement.html" class="mb-1 btn btn-sm btn-outline-dark btn-rounded" role="button" aria-pressed="true"> Learn more </a> 
          </p>
          </div>
          <div class="col-lg-6 divider-diagonal divider-diagonal-l divider-light op-9" data-bg-img="assets/img/services/small/Application Development and Off-shoring Advisory.jpg" data-css='{"background-position":"right bottom"}'>
          </div>
        </div>
      </div>
    </div>
    <!-- Service 7 -->
    <div class="bg-primary">
      <div class="container-fluid">
          <div class="row">
              <div class="col-lg-6 divider-diagonal divider-diagonal-r divider-primary op-9" data-bg-img="assets/img/services/small/IT Regulatory Advisory.jpg" data-css='{"background-position":"right bottom"}'>
              </div>
              <div class="col-lg-6 py-6">
                <hr class="hr-lg mt-0 mb-2 w-10 ml-0 hr-white" />
                <h2 class="display-4 text-slab text-grey text-uppercase my-0">
                      IT Regulatory <span class="text-white font-weight-bold">Advisory Services</span>  
                </h2>
                <p class="text-white" align="justify">
                  <br>
                    A circular from SFC dated March 2016 and Jap[an FSA revised supplements January 2016 required Licenced Corporation (LC) to take appropriate measures to critically review access and their IT framework, including seeking advice from external subject matter experts. ITCS provides subject matter expert will provide a Free Assessment to assess if our clients’ defence is adequate and up to regulator’s standard. 
                  <br><br>
                <a href="itconsultingandprojectmanagement.html" class="mb-1 btn btn-sm btn-outline-dark btn-rounded" role="button" aria-pressed="true"> Learn more </a> 
              </p>
              </div>
          </div>
      </div>
    </div>
    <!-- Service 8 -->
    <div class="bg-light">
      <div class="container-fluid">
        <div class="row">
          <div class="col-lg-6 py-6 flex-valign">
            <hr class="hr-lg mt-0 mb-2 w-10 ml-0 hr-primary" />
            <h2 class="display-4 text-slab text-grey-dark text-uppercase my-0">
                Secure Data Destruction <span class="text-primary font-weight-bold">and Hardware Disposal</span>  
            </h2>
            <p class="text-dark" align="justify">
              <br>
                ITCS guarantees our data destruction and hardware disposal services are compliant with regulatory guidelines, namely US DoD 5220.22-M, German VSITR, Australian Defence Signals ACSI-33 (X1-P-PD). ITCS will perform the solutions in ITCS’ premises and ensure the remains will be recycled – 100% environmentally friendly. 
              <br><br>
            <a href="itconsultingandprojectmanagement.html" class="mb-1 btn btn-sm btn-outline-dark btn-rounded" role="button" aria-pressed="true"> Learn more </a> 
          </p>
          </div>
          <div class="col-lg-6 divider-diagonal divider-diagonal-l divider-light op-9" data-bg-img="assets/img/services/small/Secure Data Destruction and Hardware Disposal.jpg" data-css='{"background-position":"right bottom"}'>
          </div>
        </div>
      </div>
    </div>
    <!-- Service 9 -->
    <div class="bg-primary">
      <div class="container-fluid">
          <div class="row">
              <div class="col-lg-6 divider-diagonal divider-diagonal-r divider-primary op-9" data-bg-img="assets/img/services/small/ITCS Group Unified Communications Solutions.jpg" data-css='{"background-position":"right bottom"}'>
              </div>
              <div class="col-lg-6 py-6">
                <hr class="hr-lg mt-0 mb-2 w-10 ml-0 hr-white" />
                <h2 class="display-4 text-slab text-grey text-uppercase my-0">
                      ITCS Group Unified  <span class="text-white font-weight-bold">Communications Solutions</span>
                </h2>
                <p class="text-white" align="justify">
                  <br>
                    ITCS provides professional managed service for communication solutions, partnering with Speakerbus iSeries. ITCS unified communication solutions are tailored to each clients’ business needs and market requirements. 
                  <br><br>
                <a href="itconsultingandprojectmanagement.html" class="mb-1 btn btn-sm btn-outline-dark btn-rounded" role="button" aria-pressed="true"> Learn more </a> 
              </p>
              </div>
          </div>
      </div>
    </div> <br><br>
    <!--=============== End List of services ===============-->

    <!-- Our Locations -->
    <div id="team" class="pb-4 bg-white">
      <div class="bg-dark text-white p-3 p-lg-4 text-center divider-arrow divider-arrow-b divider-dark">
        <div class="container">
          <hr class="hr-lg mt-0 mb-2 w-10 mx-auto hr-primary" />
          <h2 class="text-center text-uppercase font-weight-bold my-0">
            Our Locations
          </h2>
          <h5 class="text-center font-weight-light mt-2 mb-0 text-white op-5">
            ITCS Group delivers services across the Asia Pacific Region from our core offices in Asia’s key financial hubs.
          </h5>
        </div>
      </div>
      <!-- Location list-->
      <div class="container py-4 py-lg-6">
        <div class="row text-left">
          <div class="col-lg-4 d-lg-flex mb-3 mb-lg-0">
            <div class="shadow-lg p-3 mb-5 bg-white rounded px-3 pb-3 pt-7 overlay overlay-gradient overlay-op-8 rounded flex-ew flex-valign-b" data-animate="slideInLeft" data-animate-delay="0.5" data-bg-img="assets/img/locations/small/HongKong.jpg" data-hover="rubberBand"> 
              <p class="text-white text-uppercase mb-0"> Hong Kong </p>
              <hr class="hr-lg my-2 w-20 ml-0 hr-primary" />
            </div>
          </div>
          <div class="col-lg-4 d-lg-flex mb-3 mb-lg-0">
            <div class="shadow-lg p-3 mb-5 bg-white rounded px-3 pb-3 pt-7 overlay overlay-gradient overlay-op-8 rounded flex-ew flex-valign-b" data-animate="zoomIn" data-animate-delay="0.5" data-bg-img="assets/img/locations/small/Singapore.jpg" data-hover="rubberBand">
              <p class="text-white text-uppercase mb-0"> Singapore </p>
              <hr class="hr-lg my-2 w-20 ml-0 hr-primary" />
            </div>
          </div>
          <div class="col-lg-4 d-lg-flex">
            <div class="shadow-lg p-3 mb-5 bg-white rounded px-3 pb-3 pt-7 overlay overlay-gradient overlay-op-8 rounded flex-ew flex-valign-b" data-animate="slideInRight" data-animate-delay="0.5" data-bg-img="assets/img/locations/small/Tokyo.jpg" data-hover="rubberBand">
              <p class="text-white text-uppercase mb-0"> Japan </p>
              <hr class="hr-lg my-2 w-20 ml-0 hr-primary" />
            </div>
          </div>
          <div class="col-lg-4 d-lg-flex mb-3 mb-lg-0">
            <div class="shadow-lg p-3 mb-5 bg-white rounded px-3 pb-3 pt-7 overlay overlay-gradient overlay-op-8 rounded flex-ew flex-valign-b" data-animate="slideInLeft" data-animate-delay="0.5" data-bg-img="assets/img/locations/small/Australia.jpg" data-hover="rubberBand"> 
              <p class="text-white text-uppercase mb-0"> Australia </p>
              <hr class="hr-lg my-2 w-20 ml-0 hr-primary" />
            </div>
          </div>
          <div class="col-lg-4 d-lg-flex mb-3 mb-lg-0">
            <div class="shadow-lg p-3 mb-5 bg-white rounded px-3 pb-3 pt-7 overlay overlay-gradient overlay-op-8 rounded flex-ew flex-valign-b" data-animate="zoomIn" data-animate-delay="0.5" data-bg-img="assets/img/locations/small/India.jpg" data-hover="rubberBand">
              <p class="text-white text-uppercase mb-0"> India </p>
              <hr class="hr-lg my-2 w-20 ml-0 hr-primary" />
            </div>
          </div>
          <div class="col-lg-4 d-lg-flex">
            <div class="shadow-lg p-3 mb-5 bg-white rounded px-3 pb-3 pt-7 overlay overlay-gradient overlay-op-8 rounded flex-ew flex-valign-b" data-animate="slideInRight" data-animate-delay="0.5" data-bg-img="assets/img/locations/small/China.jpg" data-hover="rubberBand">
              <p class="text-white text-uppercase mb-0"> China </p>
              <hr class="hr-lg my-2 w-20 ml-0 hr-primary" />
            </div>
          </div>
        </div>
      </div>
      <!-- End Location list-->
    </div>
    <!-- End Our Locations -->

    <!-- Contact Us -->
    <div id="team" class="pb-4 bg-white">
      <div class="bg-dark text-white p-3 p-lg-4 text-center divider-arrow divider-arrow-b divider-dark">
        <div class="container">
          <hr class="hr-lg mt-0 mb-2 w-10 mx-auto hr-primary" />
          <h2 class="text-center text-uppercase font-weight-bold my-0">
            Contact Us
          </h2>
          <h5 class="text-center font-weight-light mt-2 mb-0 text-white op-5">
            Connect with Top Solutions Consultants in the IT Industry!
          </h5>
        </div>
      </div>
      <!-- Contact form -->
      <div id="contact">
        <div class="container p-4 py-lg-5">
          <div class="row" data-animate="fadeIn" data-animate-delay="0.1">
            <div class="col-md-12 mb-5" id="sendmessage">
              <div class="google-map">
                <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d7383.985736081398!2d114.172165!3d22.27826!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0xb9d583129679203a!2sIT%20Consulting%20Solutions%20Ltd.!5e0!3m2!1sen!2sus!4v1568220365329!5m2!1sen!2sus" width="600" height="450" frameborder="0" style="border:0"></iframe>
              </div>
              </div>
              <div class="col-md-6">
                <form id="contact-form" action="#" role="form">
                  <div class="form-group" data-animate="fadeInDown" data-animate-delay="0.2">
                    <label class="sr-only" for="contact-name">Name</label>
                    <input type="text" class="form-control form-control-rounded" id="contact-name" placeholder="Name">
                  </div>
                  <div class="form-group" data-animate="fadeInDown" data-animate-delay="0.3">
                    <label class="sr-only" for="contact-email">Email</label>
                    <input type="email" class="form-control form-control-rounded" id="contact-email" placeholder="Email">
                  </div>
                  <div class="form-group" data-animate="fadeInDown" data-animate-delay="0.4">
                    <label class="sr-only" for="contact-message">Message</label>
                    <textarea rows="5" class="form-control form-control-rounded" id="contact-message" placeholder="Message"></textarea>
                  </div>
                  <center> <input type="button" class="btn btn-outline-primary btn-lg btn-rounded" value="Send Message"> </center>
                </form>
              </div>
              <div class="col-md-5 offset-md-1 mt-4 mt-md-0" data-animate="fadeIn" data-animate-delay="0.4">
                <h4 class="mb-1 font-weight-bold">
                  IT Consulting Solutions Ltd.
                </h4>
                <p class="mb-1">
                  <abbr title="Address"><i class="fa fa-home pr-2"></i></abbr> Beverly House 93-107, Lockhart Road, Wan Chai, HK
                </p>
                <p class="mb-1">
                  <abbr title="Email"><i class="fa fa-envelope pr-2"></i></abbr> info@itcs-group.com
                </p>
                <p class="mb-0">
                  <abbr title="Phone"><i class="fa fa-phone pr-2"></i></abbr> (+852)3906-5999 
                </p>
                <br>
                  <img src="assets/img/recaptcha.png" class="img-responsive" width="330" height="80">
              </div>
            </div>
          </div>
        </div>
    </div>
    <!-- End Contact Us -->

      <!-- Project Calculation - this appears the the bottom of the page once you scroll down -->
      <div class="w-100 py-3 pos-fixed pos-zindex-20 pos-b scroll-state-hidden bg-white bg-shadow" data-scroll="scroll-state" data-scroll-amount="120" data-scroll-setting='{"effectIn":"slideInUp", "effectOut":"slideOutDown", "effectDuration":"0.3", "breakpoint":"992"}'>
        <div class="container d-flex flex-column flex-lg-row text-center justify-content-center align-items-center">
          <p class="d-lg-inline-block mr-lg-3 text-dark my-0"><strong>Project calculation</strong> is just a click away</p>
          <p class="d-lg-inline-block text-sm text-dark op-8 my-0"><a href="https://issa.itcs-group.com/#it-projects" class="mt-2 mt-lg-0 btn btn-primary border-w-2 btn-rounded px-4 py-2 font-weight-bold text-uppercase" target="_blank">Calculate now</a></p>
        </div>
        <a href="#sendmessage" class="btn btn-icon btn-primary pos-fixed pos-b pos-r mr-6 mb-3 scroll-state-hidden" title="Send a message" data-scroll="scroll-state"><i class="fas fa-headphones"></i></a>
        <a href="#top" class="btn btn-icon btn-dark pos-fixed pos-b pos-r mr-3 mb-3 scroll-state-hidden" title="Back to top" data-scroll="scroll-state"><i class="fa fa-chevron-up"></i></a>
      </div>

  </div>
  <!-- #Content -->
{% endblock content %}