{% extends "mysite/base_mysite.html" %}
{% load static %}

{% block title %}Welcome To ITCS Group - Career{% endblock title %}

{% block content %}
  <!-- ======== @Region: #content ======== -->
  <div id="content" class="p-0 clearfix">
    <div class="container">
      <div class="row">
        <!--Job list Content-->
        <div class="col-md-9 blog-roll blog-list">
          <br>
          <!-- Job post list-->
          <div class="p-4 p-lg-5 bg-light border-primary border-w-3 border-top-0 border-left-0 border-right-0 mb-2 d-flex">
              <div class="row">
                <div class="col-md-12">
                  <h5 class="text-uppercase my-0 text-primary" align="center">
                    <i class="fas fa-map-pin"></i> Hong Kong &nbsp;&nbsp;
                    <i class="fas fa-suitcase"></i> Software Development &nbsp;&nbsp;
                    <i class="fas fa-list-alt"></i> Contract &nbsp;&nbsp;
                  </h5>
                  <br>
                  <h3 class="text-dark text-letter-spacing-sm font-weight-bold my-0" align="left">
                    Job description
                    </span>
                  </h3>
                  <p class="text-muted mb-2 text-sm" align="justify">
                    <p>Our client, a Buy-side Asset Management Firm, is currently looking for a Java Developer (Mandarin speaking is a MUST). The selected candidate will be tasked responsible for the full SDLC, design and develop the Equities and FX related trading application using Java, JavaScript, Restful API, Oracle SQL and MongoDB etc. Great opportunity to join a buy-side firm as a Perm role.</p>
  
                  <h3 class="text-dark text-letter-spacing-sm font-weight-bold my-0" align="left">
                    Job responsibilities
                    </span>
                  </h3>
                  <ul class="list-unstyled">
                    <li><i class="fa fa-check list-item-icon text-primary" aria-hidden="true"></i> To deliver with excellent commitment.</li>
                    <li><i class="fa fa-check list-item-icon text-primary" aria-hidden="true"></i> To assemble leading professionals.</li>
                    <li><i class="fa fa-check list-item-icon text-primary" aria-hidden="true"></i> To provide convenience with all-rounded one stop service for IT talents.</li>
                    <li><i class="fa fa-check list-item-icon text-primary" aria-hidden="true"></i> To deliver with excellent commitment.</li>
                    <li><i class="fa fa-check list-item-icon text-primary" aria-hidden="true"></i> To assemble leading professionals.</li>
                    <li><i class="fa fa-check list-item-icon text-primary" aria-hidden="true"></i> To provide convenience with all-rounded one stop service for IT talents.</li>
                    <li><i class="fa fa-check list-item-icon text-primary" aria-hidden="true"></i> To deliver with excellent commitment.</li>
                    <li><i class="fa fa-check list-item-icon text-primary" aria-hidden="true"></i> To assemble leading professionals.</li>
                    <li><i class="fa fa-check list-item-icon text-primary" aria-hidden="true"></i> To provide convenience with all-rounded one stop service for IT talents.</li>
                  </ul>

                  <h3 class="text-dark text-letter-spacing-sm font-weight-bold my-0" align="left">
                    Job requirements
                    </span>
                  </h3>
                  <ul class="list-unstyled">
                    <li><i class="fa fa-check list-item-icon text-primary" aria-hidden="true"></i> To deliver with excellent commitment.</li>
                    <li><i class="fa fa-check list-item-icon text-primary" aria-hidden="true"></i> To assemble leading professionals.</li>
                    <li><i class="fa fa-check list-item-icon text-primary" aria-hidden="true"></i> To provide convenience with all-rounded one stop service for IT talents.</li>
                    <li><i class="fa fa-check list-item-icon text-primary" aria-hidden="true"></i> To deliver with excellent commitment.</li>
                    <li><i class="fa fa-check list-item-icon text-primary" aria-hidden="true"></i> To assemble leading professionals.</li>
                    <li><i class="fa fa-check list-item-icon text-primary" aria-hidden="true"></i> To provide convenience with all-rounded one stop service for IT talents.</li>
                    <li><i class="fa fa-check list-item-icon text-primary" aria-hidden="true"></i> To deliver with excellent commitment.</li>
                    <li><i class="fa fa-check list-item-icon text-primary" aria-hidden="true"></i> To assemble leading professionals.</li>
                    <li><i class="fa fa-check list-item-icon text-primary" aria-hidden="true"></i> To provide convenience with all-rounded one stop service for IT talents.</li>
                  </ul>
                  <center> 
                    <a href="applynow.html" class="mb-1 btn btn-lg btn-outline-teal btn-rounded" role="button" aria-pressed="true"> Apply now! </a>
                  </center>
                </div>
              </div>
            </div>
          <!-- End Job post list -->
        </div>
        <!-- End Job list Content-->
        <!--Sidebar-->
        <div class="col-md-3 col-md-3 sidebar-right">
          <br>
          <!-- Job Application details-->
          <div class="mb-4">
            <h4 class="title-divider">
              <span>Job Application Details</span>
            </h4>
            <div class="tag-cloud">
              <ul class="list-group">
                <li class="list-group-item text-sm">Job ID: ITCS-1234</li>
                <li class="list-group-item text-sm">Contact: Ricky Ogayon</li>
                <li class="list-group-item text-sm">Email: ricky.ogayon@itcs-group.com</li>
                <li class="list-group-item text-sm">Phone: (+81) 03-4563-4800 </li>
              </ul>
              <br>
              <center> 
                <a href="applynow.html" class="mb-1 btn btn-lg btn-outline-teal btn-rounded" role="button" aria-pressed="true"> Apply now! </a>
              </center>
            </div>
          </div>
          <!-- End Job Application Details-->

          <!-- Follow Widget -->
          <div class="mb-4">
            <h4 class="title-divider">
              <span>Share this job</span>
            </h4>
            <!--@todo: replace with real social media links -->
            <ul class="list-unstyled">
              <li>
                <a href="#" class="text-hover-brand-twitter d-flex align-items-center py-1 text-hover-no-underline"><i class="fab fa-twitter-square fa-fw icon-2x"></i> Twitter</a>
              </li>
              <li>
                <a href="#" class="text-hover-brand-facebook d-flex align-items-center py-1 text-hover-no-underline"><i class="fab fa-facebook-square fa-fw icon-2x"></i> Facebook</a>
              </li>
              <li>
                <a href="#" class="text-hover-brand-linkedin d-flex align-items-center py-1 text-hover-no-underline"><i class="fab fa-linkedin fa-fw icon-2x"></i> LinkedIn</a>
              </li>
            </ul>
          </div>

          <!-- Similar jobs-->
          <div class="mb-4">
            <h4 class="title-divider">
               <span>Similar Jobs</span>
            </h4>
            <hr class="hr-teal op-4 hr-lg w-100 mx-auto my-4" />
                <div class="row">
                  <div class="col-md-12">
                    <h5 class="text-dark text-letter-spacing-sm font-weight-bold my-0" align="center">
                      Senior Java Developer 
                      </span>
                    </h5>
                  </div>
                </div>
                <div class="row">
                  <div class="col-md-12">
                    <h6 class="text-xs">
                      <i class="fas fa-map-pin"></i> Hong Kong <br>
                      <i class="fas fa-suitcase"></i> Software Development <br>
                      <i class="fas fa-list-alt"></i> Temporary <br>
                    </h6>
                  </div>
                </div>
                  <center> 
                    <a href="jobdetails.html" class="mb-1 btn btn-sm btn-outline-teal btn-rounded" role="button" aria-pressed="true"> View details </a>
                  </center>
            
            <hr class="hr-teal op-4 hr-lg w-100 mx-auto my-4" />
            
                <div class="row">
                  <div class="col-md-12">
                    <h5 class="text-dark text-letter-spacing-sm font-weight-bold my-0" align="center">
                      Back-end Developer
                      </span>
                    </h5>
                  </div>
                </div>
                <div class="row">
                  <div class="col-md-12">
                    <h6 class="text-xs">
                      <i class="fas fa-map-pin"></i> Japan <br>
                      <i class="fas fa-suitcase"></i> Software Development <br>
                      <i class="fas fa-list-alt"></i> Permanent <br>
                    </h6>
                  </div>
                </div>
                  <center> 
                    <a href="jobdetails.html" class="mb-1 btn btn-sm btn-outline-teal btn-rounded" role="button" aria-pressed="true"> View details </a>
                  </center>
          <hr class="hr-teal op-4 hr-lg w-100 mx-auto my-4" />

            </div>
          </div>
          <!-- Job Location Search -->

          
        </div>
      </div>
    </div>
    <!-- End Job Search -->
  <div>

    <!-- Contact Us -->
    <div id="team" class="pb-4 bg-white">
      <div class="bg-dark text-white p-3 p-lg-4 text-center divider-arrow divider-arrow-b divider-dark">
        <div class="container">
          <hr class="hr-lg mt-0 mb-2 w-10 mx-auto hr-primary" />
          <h2 class="text-center text-uppercase font-weight-bold my-0">
            Contact Us
          </h2>
          <h5 class="text-center font-weight-light mt-2 mb-0 text-white op-5">
            Connect with Top Solutions Consultants in the IT Industry!
          </h5>
        </div>
      </div>

    <!-- Contact form -->
    <div id="contact">
      <div class="container p-4 py-lg-5">
        <div class="row" data-animate="fadeIn" data-animate-delay="0.1">
          <div class="col-md-12 mb-5" id="sendmessage">
            <div class="google-map">
              <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d7383.985736081398!2d114.172165!3d22.27826!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0xb9d583129679203a!2sIT%20Consulting%20Solutions%20Ltd.!5e0!3m2!1sen!2sus!4v1568220365329!5m2!1sen!2sus" width="600" height="450" frameborder="0" style="border:0"></iframe>
            </div>
            </div>
            <div class="col-md-6">
              <form id="contact-form" action="#" role="form">
                <div class="form-group" data-animate="fadeInDown" data-animate-delay="0.2">
                  <label class="sr-only" for="contact-name">Name</label>
                  <input type="text" class="form-control form-control-rounded" id="contact-name" placeholder="Name">
                </div>
                <div class="form-group" data-animate="fadeInDown" data-animate-delay="0.3">
                  <label class="sr-only" for="contact-email">Email</label>
                  <input type="email" class="form-control form-control-rounded" id="contact-email" placeholder="Email">
                </div>
                <div class="form-group" data-animate="fadeInDown" data-animate-delay="0.4">
                  <label class="sr-only" for="contact-message">Message</label>
                  <textarea rows="5" class="form-control form-control-rounded" id="contact-message" placeholder="Message"></textarea>
                </div>
                <center> <input type="button" class="btn btn-outline-primary btn-lg btn-rounded" value="Send Message"> </center>
              </form>
            </div>
            <div class="col-md-5 offset-md-1 mt-4 mt-md-0" data-animate="fadeIn" data-animate-delay="0.4">
              <h4 class="mb-1 font-weight-bold">
                IT Consulting Solutions Ltd.
              </h4>
              <p class="mb-1">
                <abbr title="Address"><i class="fa fa-home pr-2"></i></abbr> Beverly House 93-107, Lockhart Road, Wan Chai, HK
              </p>
              <p class="mb-1">
                <abbr title="Email"><i class="fa fa-envelope pr-2"></i></abbr> info@itcs-group.com
              </p>
              <p class="mb-0">
                <abbr title="Phone"><i class="fa fa-phone pr-2"></i></abbr> (+852)3906-5999 
              </p>
              <br>
                <img src="assets/img/recaptcha.png" class="img-responsive" width="330" height="80">
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- Project Calculation - this appears the the bottom of the page once you scroll down -->
    <div class="w-100 py-3 pos-fixed pos-zindex-20 pos-b scroll-state-hidden bg-white bg-shadow" data-scroll="scroll-state" data-scroll-amount="120" data-scroll-setting='{"effectIn":"slideInUp", "effectOut":"slideOutDown", "effectDuration":"0.3", "breakpoint":"992"}'>
      <div class="container d-flex flex-column flex-lg-row text-center justify-content-center align-items-center">
        <p class="d-lg-inline-block mr-lg-3 text-dark my-0">You have a <strong>CV ready?</strong></p>
        <p class="d-lg-inline-block text-sm text-dark op-8 my-0"><a href="sendcv.html" class="mt-2 mt-lg-0 btn btn-primary border-w-2 btn-rounded px-4 py-2 font-weight-bold text-uppercase" target="_blank">Send us now!</a></p>
      </div>
      <a href="#sendmessage" class="btn btn-icon btn-primary pos-fixed pos-b pos-r mr-6 mb-3 scroll-state-hidden" title="Send a message" data-scroll="scroll-state"><i class="fas fa-headphones"></i></a>
      <a href="#top" class="btn btn-icon btn-dark pos-fixed pos-b pos-r mr-3 mb-3 scroll-state-hidden" title="Back to top" data-scroll="scroll-state"><i class="fa fa-chevron-up"></i></a>
    </div>
  <!-- #Content -->
{% endblock content %}